[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
langchain = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
